body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, #0E120F 35%, #00C32B 78%, #13872C 85%);
}

@font-face {
    font-family: 'Poppins';
    src: url('./config/Poppins-Regular.ttf');
}
/*titulo Account login*/
.paragraph {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 279px;
    height: 60px;
    padding-left: 8%;
    padding-top: 4%;
}
/* Caixa transparentes com o formulario de login*/
.space-login {
    
    width: 280px;
    height: 140px;
    background: rgba(217, 217, 217, 37%);
    margin-left: 28%;
    margin-top: 2%;
    border-radius: 10%;
    padding: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    
}
/*Fontes de todos os textos*/
#title {
    font-family: 'Poppins';
    color: black;
}
/* inputs de email e password*/
#inbox {
    background: #ffffff;
    border-radius: 20px;
    width: 330px;
    height: 40px;
        background-color: rgba(255, 255, 255, 0.5); /* Define a cor com opacidade */
        border: 1px solid #ccc; /* Adiciona uma borda para destacar o input */
        padding: 5px; /* Adiciona algum espaçamento interno para o texto */
    text-align:start;
    font-size: 20px;
      
   
}
.inputs-position {
    position: absolute;
    top: 25%;
    left: 35%;
}
/*the single button*/
#botao {
    display: inline;
    justify-content: center;
    background-color: #00FF0A;
    font-family: 'Poppins', sans-serif;
    width: 170px;
    height: 49px;
    position: absolute;
    top: 115%;
    right: 25%;
    margin-left: 40%;
    border-bottom: 20%;
    border-radius: 20px;
}

/*remenber password*/
.inputs-box {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
/*container the remenber password and fogot password*/
#working {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
}

/*Responsividade do codigo*/




@media screen and (max-width: 1260px){
    .space-login {
    
        width: 240px;
        height: 110px;
        margin-left: 28%;
        margin-top: 2%;
        border-radius: 10%;
        padding: 10%;
        margin-bottom: 10%;
        display: flex;
        justify-content: center;
        
    }
    inputs-position {
        position: absolute;
        top: 5%;
        left: 5%;
    }
    #inbox {
        border-radius: 20px;
        width: 300px;
        height: 30px;
            border: 1px solid #ccc; /* Adiciona uma borda para destacar o input */
            padding: 3px; /* Adiciona algum espaçamento interno para o texto */
        text-align:start;
        font-size: 13px;
    }
    #botao {
        font-family: 'Poppins', sans-serif;
        width: 150px;
        height: 39px;
        position: absolute;
        top: 115%;
        right: 25%;
        margin-left: 40%;
        border-bottom: 20%;
        border-radius: 20px;
    }
}


@media screen and (max-width: 1200px){
    #title {
        font-size: 14px;
    }
    .paragraph {
        color: white;
        font-family: 'Poppins', sans-serif;
        width: 220px;
        height: 35px;
        padding-left: 6%;
        padding-top: 5%;
    }
    .space-login {
    
        width: 220px;
        height: 100px;
        margin-left: 28%;
        margin-top: 2%;
        border-radius: 10%;
        padding: 10%;
        margin-bottom: 10%;
        display: flex;
        justify-content: center;
        
    }
    inputs-position {
        position: absolute;
        top: 0,5%;
        left: 0,5%;
    }
    #inbox {
        border-radius: 15px;
        width: 280px;
        height: 25px;
            border: 1px solid #ccc; /* Adiciona uma borda para destacar o input */
            padding: 3px; /* Adiciona algum espaçamento interno para o texto */
        text-align:start;
        font-size: 10px;
    }
    #botao {
        font-family: 'Poppins', sans-serif;
        width: 150px;
        height: 39px;
        position: absolute;
        top: 100%;
        right: 25%;
        margin-left: 30%;
        border-bottom: 15%;
        border-radius: 20px;
    }
}
